html,
body {
    height: 100%;
    background-color: white !important;
}

.global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.login-form {
    width: 380px;
    height: 450px;
    padding: 20px;
    background: white !important;
    border-radius: 10px !important;
}

input[type="NIM"]
input[type="password"]{
    background: white;
    color: black;
    border: 2px solid black;
    margin-bottom: 25px;
}

.btn {
    background: green !important;
    color: white;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px !important;
}